<?xml version="1.0" encoding="UTF-8"?>

<Context>
  <Resource name="jdbc/mimariadb" 
            auth="Container" 
            type="javax.sql.DataSource"
            maxActive="50" 
            maxIdle="30" 
            maxWait="10000"
            username="root" 
            password="password" 
            driverClassName="org.mariadb.jdbc.Driver"
            url="jdbc:mariadb://mariadb/usuarios"/>
      <Resource name="jdbc/mipostgres" 
            auth="Container" 
            type="javax.sql.DataSource"
               
            maxActive="50" 
            maxIdle="30" 
            maxWait="10000"
            minIdle="10"
            initialSize="15"
               
            username="curso" 
            password="password" 
            driverClassName="org.postgresql.Driver"
            url="jdbc:postgresql://postgres/usuarios"/>     
</Context>
